.main {
  background-color: #f7f7f7;
}
.services {
  color: #cd9452;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding-top: 3em;
}
@media screen and (min-width: 768px) {
  .services {
    font-size: 1.5em;
    padding-top: 4.5em;
  }
}
@media screen and (min-width: 1024px) {
  .services {
    padding-top: 6em;
    font-size: 1em;
  }
}
.amenities {
  font-size: 2em;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 0.3em;
}

@media screen and (min-width: 768px) {
  .amenities {
    margin-top: 0em;
    font-size: 2.3em;
  }
}
@media screen and (min-width: 1024px) {
  .amenities {
    font-size: 1.8em;
  }
}

.card {
  width: 55%;
  line-height: 2.5em;
  color: #8d96a1;
  font-weight: 500;
  margin-bottom: 12em;
}
@media screen and (min-width: 768px) {
  .card {
    margin-bottom: 0em;
    width: 40%;
    padding: 3em;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 15%;
    padding: 0;
    margin-right: 2em;
    margin-left: 2em;
  }
}
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 9em;
  padding-bottom: 7em;
}
@media screen and (min-width: 768px) {
  .cardContainer {
    margin-top: 5em;
  }
}
@media screen and (min-width: 1024px) {
  .cardContainer {
    padding-bottom: 4.5em;
  }
}
.image {
  width: 40%;
  margin-left: 5em;
  margin-bottom: 2em;
  background-color: #f7f7f7;
  justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .image {
    margin-top: 3em;
  }
}
@media screen and (min-width: 1024px) {
  .image {
    margin-left: 4em;
    width: 35%;
  }
}
.title {
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.5em;
  color: black;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 0.9em;
  }
}
.lorem {
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  color: #8d96a1;
}

@media screen and (min-width: 1024px) {
  .lorem {
    font-size: 0.8em;
  }
}
