.main {
  background-color: #f7f7f7;
}
.services {
  color: #cd9452;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding-top: 3em;
}
@media screen and (min-width: 768px) {
  .services {
    font-size: 1.3em;
    padding-top: 4.5em;
  }
}
@media screen and (min-width: 1024px) {
  .services {
    padding-top: 7em;
    font-size: 1em;
  }
}
.amenities {
  font-size: 2.2em;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 0em;
}

@media screen and (min-width: 768px) {
  .amenities {
    margin-top: 0em;
    font-size: 2em;
  }
}
@media screen and (min-width: 1024px) {
  .amenities {
    font-size: 1.9em;
  }
}

.card {
  width: 80%;
  padding: 2em 4em;
  line-height: 2.5em;
  color: #8d96a1;
  font-weight: 500;
  margin-bottom: 5em;
}
@media screen and (min-width: 768px) {
  .card {
    margin-bottom: 0em;
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 15%;
    padding: 0;
    margin-right: 2em;
    margin-left: 2em;
  }
}
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 6em;
  
}
@media screen and (min-width: 768px) {
  .cardContainer {
    margin-top: 3em;
  }
}
@media screen and (min-width: 1024px) {
  .cardContainer {
    padding-bottom: 10em;
    padding-top: 1em;
  }
}
.image {
  width: 35%;
  margin: 0 auto 2em;
  background-color: #f7f7f7;
  justify-content: center;
  text-align: center;
}
/* @media screen and (min-width: 768px) {
  .image {
    margin-top: 3.5em;
  }
}
@media screen and (min-width: 1024px) {
  .image {
    margin-left: 4em;
    width: 40%;
  }
} */
.title {
  font-size: 1.1em;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1em;
  color: black;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 0.95em;
  }
}
.lorem {
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  color: #8d96a1;
  line-height: 2em;
}

@media screen and (min-width: 1024px) {
  .lorem {
    font-size: 0.8em;
  }
}
